.wrapper

 = render 'shared/side'

 .main
  .header
   .header__group
    %h2.group__name グループA
    %ul.header__menbers
     Menber:
     %li.menber A君
     %li.menber Bちゃん
   .header__btn EDIT

  .messages
   .message
    .message--info
     %p.message--info__user A君
     %p.message--info__date 2019-11-11
    .message--contents
     %p.message--contents__content おはよう
   .message
    .message--info
     %p.message--info__user Bちゃん
     %p.message--info__date 2019-11-12
    .message--contents
     %p.message--contents__content おはよう

  .form
   %form
    %input.form__message
    .form__btn
     %label.form__btn__image
      = fa_icon 'picture-o', class: 'icon'
      %input.hidden{type: 'file'}
    %input.form__submit{type: 'submit', value: 'Send'}