// colors
$side-header-color :#253141;
$side-group-color :#2f3e51;


$main-header-color :#eeeeee;
$main-messages-color :#fafafa;

$white :#FFFFFF;
$light_blue: #38AEF0;

// fonts
$side_header_font: 16px;
$side_group_name: 15px;
$side_group_message: 11px;